
{% extends 'users/admin/admin_home.html' %}
{% load static %}
{% block content4 %}



<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            
        
        {{ d2.as_p }}
        </div>
        <div class="col-md-6">
           
            <h5 class="h5 text-center">**important**</h5>
            <img class="img-fluid" src="{% static 'asserts/img/4x3image.jpg' %}" alt="3:4">
            <p> &nbsp;* 'While uploading <b>Project pictures</b> please make sure your picture should be is <b>4:3</b> in landscape. <br>&nbsp;* If not please crop it for better viewing Experience...</p>
            <p class="text-center"> Thank you !! '</p>
            
                
                   

        </div>  
    </div>
    <div class="row my-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock content4 %}