
{% extends 'users/admin/admin_home.html' %}
{% load static %}
{% block content4 %}



<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
              <label for="" class="form-label">Project Name</label>
              <input type="text" required name="pname" id="pname" class="form-control" value="{{ d1.pname }}" maxlength="100">
              
            </div>
            <div class="mb-3">
                {% if d1.ppic %}
                    <img class="img-thumbnail" src="{{ d1.ppic.url }}" alt="{{ d1.pname }} picture">
                {% endif %}
            
              <label for="" class="form-label"></label>
              <input type="file" class="form-control" name="ppic" id="ppic">
            </div>
            <div class="mb-3">
              <label for="" class="form-label"></label>
              <textarea required name="pdescription" cols="40" rows="3" class="form-control" maxlength="500" id="id_pdescription">{{ d1.pdescription}}</textarea>
                
              
            </div>
            <div class="row my-3">
                <button type="submit" class="btn btn-primary">Update</button>
            </div> 
        </div>
          
    </div>
    
</form>

{% endblock content4 %}